.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  display: inline-block;
  padding-right: 0px;
  margin-right: 20px;
}

.App-logo-svg {
  width: 180px;
  height: 60px;
  display: inline-block;
  padding-right: 0px;
  margin-right: 20px;
}

.App-Title {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 25px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-footer {
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
